body {
    font-family: Montserrat;
}

#amados-app {
    background: white;
    width: 100%;
    height: 100vh;
    display: block;
}

.btn {
    border-radius: 1.5em;
    font-weight: bold;
    font-family: Montserrat;
    margin: 0.25rem;

    &.btn-primary {
        background-color: $theme-primary;
        border-color: $theme-primary;
        color: #FFFFFF;
    }

    &.btn-primary-round {
        border-radius: 0.95rem;
        background-color: $theme-primary;
        border-color: $theme-primary;
        color: #FFFFFF !important;
    }

    &.btn-simple-round {
        border-radius: 0.95rem;
    }


    &.btn-blue {
        background-color: $theme-blue;
        border-color: $theme-blue;
        color: #FFFFFF;
    }

    &.btn-cyan {
        background-color: #00FFFF;
        border-color: #00FFFF;
        color: #000000;
        border-radius: 5em;
    }
}


.page {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    
    background-size: cover;
    z-index: 1;
	width: 100%;
	
		top:-80px;
}

#inicio{
	
	img{
		max-width:100%;
		
	}
}
#nosotros{
	.col-4{padding:0;}
	.col-md-4{padding:0;}
	.section-header{
		width:100%;
		font-weight:bold;
		color:white;
		background-color:$theme-primary;
		text-align:center;
		padding: 2rem;
		margin:auto;
		&.center{ background-color:$theme-primary-darker }
	}
	p{
		padding: 2rem;
		text-align:justify;		
	}
	img{max-width:100%;}
}