$menu-height: 5vw;
$menu-height-s: 5vw;

#app-nav-foot {
		::-webkit-scrollbar {width: 1vw;}
		::-webkit-scrollbar-track {background: #000000;}
		::-webkit-scrollbar-thumb {background: #333333;}
	
    display: block;
    position: relative;
    width: 100%;
    min-height: 50vh;
    height: $menu-height;
    flex-grow: 0;
    flex-shrink: 0;
    color: #fff;
    background-color: #000000;
    z-index: 2;

    .footer_container {
			scrollbar-color: #333333 #000000;
			scrollbar-width: 1;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			padding-right: 1rem;

			display: inline-flex;
			flex-direction: row;
			justify-content: space-between;
			overflow: auto;

		   

			transition: all 0.4s;
			.logo_footer {
				display: inline-flex;
				flex-direction: row;
				
				flex-grow: 0;
				flex-shrink: 0;
				width: auto;
				min-width: 30vw;
				height: 100%;
				padding-top: 0;
				background-color: transparent;
				background-image: url('/assets/img/logo_gris.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				margin: 0.5rem 0 0.5rem;
				align-self: center;
			}
			    
        .footer {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            padding: 0rem 1rem 1rem;
            margin-top: 0.5rem;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
    
            .social {
                display: flex;
                flex-direction: row;
    
                a {
                    display: flex;
                    margin: 5px;
                    color: #bbbbbb;
                    text-decoration: none;

                    &:hover {
                        color: #ffffff;
                    }
                }
            }
    
            .info {
                font-size: 0.75rem;

                .btn {
                    font-size: 1em;
                }
            }
        }
    }

    .menubutton {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        width: 2rem;
        height: 2rem;
        background-size: contain;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        border-width: 0;
        
        &.o {
            background-image: url('/assets/img/2019/menu.png');
        }
        
        &.x {
            background-image: url('/assets/img/2019/x.png');
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        
        .header_container {
            height: $menu-height-s;
            min-height: 80px;
            padding-right: 6rem;
            transform: translateX(100%) translateX(-4rem);
            overflow: auto;
            background-size: 120% 50%;

            .auth {
                right: 5rem;
            }

            .logo_footer {
                height: 100%;
                padding-left: 40%;
            }
        }
        
        &.hidden-menu .header_container {
            overflow: hidden;
            transform: translateX(0);
        }
    }
}

.btn-simple-round {
    --background-color: #aaaaaa;
    color: #999999;
    border-width: 2px;
    border-color: #999999;
}

.gray-text {
    color: #999999;
}
