
$theme-primary: #EC1E79;
$theme-primary-darker: #BC0049;
$theme-secondary: #57AADC;
$theme-blue: #1313A3;

$carousel-control-color: #EC1E79;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "sf-primary":    $theme-primary,
    "sf-secondary":  $theme-secondary,
    "sf-blue":  $theme-blue,
  ),
  $theme-colors
);
