
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
@font-face {
	font-family: 'DS-DIGI';
	src: url('/assets/fonts/DS-DIGIB.TTF');
	font-weight: normal;
	font-style: normal;
	} 
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

@import "base";

@import "header";
@import "footer";
